.first_line {
    text-align: center;
    padding-right: 30%;
}

.second_line {
    text-align: center;
}

.third_line {
    text-align: center;
    padding-left: 30%;
}

.post_date {
    text-align: center;
    padding-left: 60%;
}