<ons-page>
    <ons-toolbar>
        <div class="center">トップ</div>
    </ons-toolbar>
    <div class="contents">
        <ons-list>
            <ons-list-header>pushPage()</ons-list-header>
            <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('under.html', {animation: 'slide'})">
                slide
            </ons-list-item>
            <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('under.html', {animation: 'lift'})">lift
            </ons-list-item>
            <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('under.html', {animation: 'fade'})">fade
            </ons-list-item>
            <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('under.html', {animation: 'none'})">none
            </ons-list-item>
            <ons-list-item modifier="chevron"
                           ng-click="myNavigator.pushPage('under.html', {onTransitionEnd: console.log('pushPageコールバック')})">
                callback
            </ons-list-item>
        </ons-list>
    </div>
</ons-page>